<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="project_vniia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="project_vniia.Properties.Settings.TCPM82_NewConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TCPM82_New.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <project_vniia.Properties.Settings>
                <setting name="Table1_loc" serializeAs="String">
                        <value />
                </setting>
                <setting name="Table1_w" serializeAs="String">
                        <value />
                </setting>
                <setting name="Table1_h" serializeAs="String">
                        <value />
                </setting>
                <setting name="Table2_loc" serializeAs="String">
                        <value />
                </setting>
                <setting name="Table2_w" serializeAs="String">
                        <value />
                </setting>
                <setting name="Table2_h" serializeAs="String">
                        <value />
                </setting>
                <setting name="Galka" serializeAs="String">
                        <value />
                </setting>
        </project_vniia.Properties.Settings>
    </userSettings>
</configuration>